# Dependencies
node_modules/
package-lock.json
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
client/dist/
dist/
build/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
out.txt

# Editor/System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
